{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block content %}
    <section class="content-view-full">
        <div class="class-blog">
            <div class="row">
                <div class="span8">

                    <button id="sort-place-list" disabled="disabled">{{ 'Show me'|trans }}</button>
                    <p>{{ 'places close to me,' }}</p>
                    <select id="max-dist-place-list">
                        <option value="1000">1000km</option>
                        <option value="100">100km</option>
                        <option value="10">10km</option>
                        <option value="1">1km</option>
                    </select>
                    <div id="sort-place-list-errors"></div>

                    <h1>{{ ez_render_field( content, 'name') }}</h1>

                    <div id="place-list-container">
                        {{ render(controller(
                                'eZDemoBundle:Place:listPlaceList',
                                    {'locationId': location.id}
                                )
                            )
                        }}

                    </div>


                    <script>

                        YUI(YUI3_config).use('io-base', 'node', function(Y) {
                            //Generating URL with dummy values that will be replaced when clicking
                            var uri = '{{ path(
                                'ezpublish_ezdemo_ajax_sorted_place_list',
                                {'locationId': location.id, 'latitude': '0.0', 'longitude': '1.0','maxDist': '42'}
                            ) }}';

                            var noGeoLocateMsg = '{{ 'Geolocation feature is not available on your browser, please consider updating it.'|trans }}',
                                disabledGeoLocateMsg = '{{ 'Geolocation feature is disabled on your browser. Check the permission settings to allow it.'|trans }}',
                                ajaxErrorMsg = '{{ 'Your request has failed, please try again later.'|trans }}',
                                container = Y.one('#place-list-container'),
                                button = Y.one('#sort-place-list'),
                                errorContainer = Y.one('#sort-place-list-errors');

                            if ("geolocation" in navigator) {
                                button.set('disabled', false);
                            }else{
                                errorContainer.setHTML(noGeoLocateMsg);
                            }

                            button.on('click', function (e) {

                                e.preventDefault();

                                container.addClass('place-list-loading');

                                navigator.geolocation.getCurrentPosition(function (position) {
                                    var config = {
                                        method: 'GET',
                                        on: {
                                            start: function () {

                                            },
                                            success: function (id, response) {
                                                container.setHTML(response.responseText);
                                                container.removeClass('place-list-loading');
                                            },
                                            failure: function (id, response) {
                                                container.removeClass('place-list-loading');
                                                errorContainer.setHTML(ajaxErrorMsg);
                                            }
                                        }
                                    };
                                    var maxDist = Y.one('#max-dist-place-list').get('value');

                                    Y.io(
                                        uri.replace('0.0', position.coords.latitude).replace('1.0', position.coords.longitude).replace('42', maxDist),
                                        config
                                    );

                                }, function () {
                                    container.removeClass('place-list-loading');
                                    errorContainer.setHTML(disabledGeoLocateMsg);
                                });
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
